@model espaciodiseno.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}


@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Cambiar contraseña</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword,"Contraseña actual", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword,"Nueva contraseña", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            <p><i><strong>contraseñas deben tener al menos un carácter que no sea una letra ni un dígito.</strong></i></p>
            <p><i><strong>Las contraseñas deben tener al menos un dígito ('0'-'9'). Las contraseñas deben tener al menos una letra en mayúscula ('A'-'Z').</strong></i></p>

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword,"Confirmar nueva contraseña", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cambiar contraseña" class="btn btn-success" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}