@model espaciodiseno.Models.presupuestos

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>presupuestos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.pre_id)

        <div class="form-group">
            @Html.LabelFor(model => model.pre_proyecto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_proyecto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_proyecto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_mano_maestro, "pre_mano_maestro", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_mano_maestro", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_mano_maestro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_mano_ayudante, "pre_mano_ayudante", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_mano_ayudante", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_mano_ayudante, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_mo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_mo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_mo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_id_mat, "pre_id_mat", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_id_mat", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_id_mat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_mat, "pre_mat", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_mat", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_mat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_detalle_mat, "pre_detalle_mat", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_detalle_mat", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_detalle_mat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_espesor_mat, "pre_espesor_mat", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_espesor_mat", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_espesor_mat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_cantidad_mat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_cantidad_mat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_cantidad_mat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_valor_mat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_valor_mat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_valor_mat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_neto_mat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_neto_mat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_neto_mat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_ut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_ut, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_ut, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_mat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_mat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_mat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_id_mat2, "pre_id_mat2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_id_mat2", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_id_mat2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_mat2, "pre_mat2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_mat2", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_mat2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_detalle_mat2, "pre_detalle_mat2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_detalle_mat2", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_detalle_mat2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_espesor_mat2, "pre_espesor_mat2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_espesor_mat2", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_espesor_mat2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_cantidad_mat2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_cantidad_mat2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_cantidad_mat2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_valor_mat2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_valor_mat2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_valor_mat2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_neto_mat2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_neto_mat2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_neto_mat2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_ut2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_ut2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_ut2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_mat2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_mat2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_mat2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_id_mat3, "pre_id_mat3", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_id_mat3", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_id_mat3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_mat3, "pre_mat3", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_mat3", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_mat3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_detalle_mat3, "pre_detalle_mat3", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_detalle_mat3", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_detalle_mat3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_espesor_mat3, "pre_espesor_mat3", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_espesor_mat3", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_espesor_mat3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_cantidad_mat3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_cantidad_mat3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_cantidad_mat3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_valor_mat3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_valor_mat3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_valor_mat3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_neto_mat3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_neto_mat3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_neto_mat3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_ut3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_ut3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_ut3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_mat3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_mat3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_mat3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_id_mat4, "pre_id_mat4", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_id_mat4", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_id_mat4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_mat4, "pre_mat4", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_mat4", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_mat4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_detalle_mat4, "pre_detalle_mat4", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_detalle_mat4", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_detalle_mat4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_espesor_mat4, "pre_espesor_mat4", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_espesor_mat4", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_espesor_mat4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_cantidad_mat4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_cantidad_mat4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_cantidad_mat4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_valor_mat4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_valor_mat4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_valor_mat4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_neto_mat4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_neto_mat4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_neto_mat4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_ut4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_ut4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_ut4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_mat4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_mat4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_mat4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_id_mat5, "pre_id_mat5", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_id_mat5", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_id_mat5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_mat5, "pre_mat5", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_mat5", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_mat5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_detalle_mat5, "pre_detalle_mat5", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_detalle_mat5", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_detalle_mat5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_espesor_mat5, "pre_espesor_mat5", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_espesor_mat5", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_espesor_mat5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_cantidad_mat5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_cantidad_mat5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_cantidad_mat5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_valor_mat5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_valor_mat5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_valor_mat5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_neto_mat5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_neto_mat5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_neto_mat5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_ut5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_ut5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_ut5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_mat5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_mat5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_mat5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_id_mat6, "pre_id_mat6", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_id_mat6", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_id_mat6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_mat6, "pre_mat6", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_mat6", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_mat6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_detalle_mat6, "pre_detalle_mat6", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_detalle_mat6", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_detalle_mat6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_espesor_mat6, "pre_espesor_mat6", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_espesor_mat6", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_espesor_mat6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_cantidad_mat6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_cantidad_mat6, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_cantidad_mat6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_valor_mat6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_valor_mat6, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_valor_mat6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_neto_mat6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_neto_mat6, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_neto_mat6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_ut6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_ut6, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_ut6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_mat6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_mat6, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_mat6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_id_mat7, "pre_id_mat7", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_id_mat7", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_id_mat7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_mat7, "pre_mat7", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_mat7", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_mat7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_detalle_mat7, "pre_detalle_mat7", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_detalle_mat7", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_detalle_mat7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_espesor_mat7, "pre_espesor_mat7", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_espesor_mat7", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_espesor_mat7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_cantidad_mat7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_cantidad_mat7, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_cantidad_mat7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_valor_mat7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_valor_mat7, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_valor_mat7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_neto_mat7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_neto_mat7, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_neto_mat7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_ut7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_ut7, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_ut7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_mat7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_mat7, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_mat7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_id_mat8, "pre_id_mat8", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_id_mat8", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_id_mat8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_mat8, "pre_mat8", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_mat8", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_mat8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_detalle_mat8, "pre_detalle_mat8", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_detalle_mat8", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_detalle_mat8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_espesor_mat8, "pre_espesor_mat8", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_espesor_mat8", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_espesor_mat8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_cantidad_mat8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_cantidad_mat8, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_cantidad_mat8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_valor_mat8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_valor_mat8, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_valor_mat8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_neto_mat8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_neto_mat8, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_neto_mat8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_ut8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_ut8, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_ut8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_mat8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_mat8, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_mat8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_id_mat9, "pre_id_mat9", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_id_mat9", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_id_mat9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_mat9, "pre_mat9", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_mat9", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_mat9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_detalle_mat9, "pre_detalle_mat9", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_detalle_mat9", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_detalle_mat9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_espesor_mat9, "pre_espesor_mat9", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_espesor_mat9", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_espesor_mat9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_cantidad_mat9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_cantidad_mat9, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_cantidad_mat9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_valor_mat9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_valor_mat9, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_valor_mat9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_neto_mat9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_neto_mat9, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_neto_mat9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_ut9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_ut9, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_ut9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_mat9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_mat9, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_mat9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_id_mat10, "pre_id_mat10", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_id_mat10", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_id_mat10, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_mat10, "pre_mat10", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_mat10", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_mat10, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_detalle_mat10, "pre_detalle_mat10", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_detalle_mat10", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_detalle_mat10, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_espesor_mat10, "pre_espesor_mat10", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_espesor_mat10", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_espesor_mat10, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_cantidad_mat10, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_cantidad_mat10, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_cantidad_mat10, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_valor_mat10, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_valor_mat10, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_valor_mat10, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_neto_mat10, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_neto_mat10, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_neto_mat10, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_ut10, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_ut10, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_ut10, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_mat10, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_mat10, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_mat10, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_id_mat11, "pre_id_mat11", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_id_mat11", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_id_mat11, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_mat11, "pre_mat11", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_mat11", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_mat11, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_detalle_mat11, "pre_detalle_mat11", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_detalle_mat11", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_detalle_mat11, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_espesor_mat11, "pre_espesor_mat11", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_espesor_mat11", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_espesor_mat11, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_cantidad_mat11, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_cantidad_mat11, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_cantidad_mat11, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_valor_mat11, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_valor_mat11, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_valor_mat11, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_neto_mat11, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_neto_mat11, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_neto_mat11, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_ut11, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_ut11, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_ut11, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_mat11, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_mat11, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_mat11, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_id_mat12, "pre_id_mat12", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_id_mat12", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_id_mat12, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_mat12, "pre_mat12", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_mat12", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_mat12, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_detalle_mat12, "pre_detalle_mat12", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_detalle_mat12", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_detalle_mat12, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_espesor_mat12, "pre_espesor_mat12", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_espesor_mat12", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_espesor_mat12, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_cantidad_mat12, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_cantidad_mat12, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_cantidad_mat12, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_valor_mat12, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_valor_mat12, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_valor_mat12, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_neto_mat12, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_neto_mat12, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_neto_mat12, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_ut12, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_ut12, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_ut12, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_mat12, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_mat12, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_mat12, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_id_mat13, "pre_id_mat13", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_id_mat13", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_id_mat13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_mat13, "pre_mat13", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_mat13", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_mat13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_detalle_mat13, "pre_detalle_mat13", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_detalle_mat13", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_detalle_mat13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_espesor_mat13, "pre_espesor_mat13", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_espesor_mat13", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_espesor_mat13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_cantidad_mat13, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_cantidad_mat13, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_cantidad_mat13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_valor_mat13, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_valor_mat13, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_valor_mat13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_neto_mat13, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_neto_mat13, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_neto_mat13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_ut13, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_ut13, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_ut13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_mat13, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_mat13, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_mat13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_id_mat14, "pre_id_mat14", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_id_mat14", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_id_mat14, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_mat14, "pre_mat14", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_mat14", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_mat14, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_detalle_mat14, "pre_detalle_mat14", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_detalle_mat14", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_detalle_mat14, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_espesor_mat14, "pre_espesor_mat14", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_espesor_mat14", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_espesor_mat14, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_cantidad_mat14, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_cantidad_mat14, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_cantidad_mat14, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_valor_mat14, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_valor_mat14, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_valor_mat14, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_neto_mat14, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_neto_mat14, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_neto_mat14, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_ut14, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_ut14, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_ut14, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_mat14, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_mat14, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_mat14, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_id_mat15, "pre_id_mat15", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_id_mat15", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_id_mat15, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_mat15, "pre_mat15", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_mat15", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_mat15, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_detalle_mat15, "pre_detalle_mat15", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_detalle_mat15", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_detalle_mat15, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_espesor_mat15, "pre_espesor_mat15", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_espesor_mat15", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_espesor_mat15, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_cantidad_mat15, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_cantidad_mat15, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_cantidad_mat15, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_valor_mat15, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_valor_mat15, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_valor_mat15, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_neto_mat15, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_neto_mat15, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_neto_mat15, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_ut15, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_ut15, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_ut15, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_mat15, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_mat15, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_mat15, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_flete, "pre_flete", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pre_flete", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pre_flete, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_montaje, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_montaje, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_montaje, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_varios, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_varios, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_varios, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_neto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_neto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_neto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_ut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_ut, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_ut, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pre_total_bruto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pre_total_bruto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pre_total_bruto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
